.block_kent_course_overview.block div.content {
    padding: 0px;
}

.block_kent_course_overview.block div.content .rollover_admin_notification {
    border:none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;
    color: #333;
    border
}

    .block_kent_course_overview.block div.content .rollover_admin_notification p {
        margin-bottom: 0;
    }
    
    .block_kent_course_overview.block div.content .rollover_admin_notification a {
        display: block;
        margin-top:10px;
        color: #264F9C;
    }

.block_kent_course_overview.block div.content .co_no_crs {
    border-top: 1px solid #e3e3e3;
    padding: 30px 10px 20px 10px;
    font-size: 14px;
    color: #333;
}

#kent_course_list_overview{
    list-style: none;
    list-style-type: none;
    margin: 0px;
    margin-bottom: 10px;
}

    #kent_course_list_overview li {
        width: 100%;
        margin: 0;
        display: block;
        background: transparent;
        overflow: auto;
        border-bottom: 3px solid #e0e0e0;
        border-bottom: 3px solid #eee;
    }
    
    #kent_course_list_overview li:nth-child(even) {

    }
    
        #kent_course_list_overview .course_details_ovrv {
            float: left;
            padding: 10px;
            width: 70%;
        }
    
            #kent_course_list_overview .course_details_ovrv .title {
                padding: 3px 0;
                font-size: 16px;
                font-weight: bold;
                color: #333;
            }

                #kent_course_list_overview .course_details_ovrv .title a {
                    color: #333;
                }
                
                #kent_course_list_overview .course_details_ovrv .title a:hover {
                    text-decoration: underline;
                }

            #kent_course_list_overview .course_details_ovrv .course_description {
                padding: 10px 0;
                font-size: 14px;
                color: #6f6f6f;
            }  

                #kent_course_list_overview .course_details_ovrv .course_description p {
                    margin: 0px
                }

            #kent_course_list_overview .course_details_ovrv .teachers {
                padding: 3px 0;
                font-size: 12px;
                color: #6f6f6f
            }

                #kent_course_list_overview .course_details_ovrv .teachers a {
                    color: #003399;
                }
                
                #kent_course_list_overview .course_details_ovrv .teachers a:hover {
                    text-decoration: underline;
                }
            
       #kent_course_list_overview  .course_admin_options {
            padding: 15px;
            float: right;
            diplay: block;
            width: 20%;
        }

            #kent_course_list_overview  .course_admin_options a:hover {
                text-decoration: none;
            }
        
            #kent_course_list_overview  .course_admin_options .course_rollover_optns {
                display: block;
                padding: 10px;
                background: #E0E0E0;
                font-size: 13px;
                text-align: center;
                color: #6f6f6f;  
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            
            #kent_course_list_overview  .course_admin_options .new {
                background-color: #E9FAD0;
                -webkit-transition: background-color 0.4s linear;
                -moz-transition: background-color 0.4s linear;
                -o-transition: background-color 0.4s linear;
                transition: background-color 0.4s linear;
            } 
            
             #kent_course_list_overview  .course_admin_options .new:hover {
                background-color: #D6E6BF;
            }
            
            #kent_course_list_overview  .course_admin_options .pending {
                background-color: #BAC7DF;
                padding: 20px 0;
                color: #fff;
            }
            
            #kent_course_list_overview  .course_admin_options .error {
                background-color: #FAD7D7;
            }
            
            #kent_course_list_overview .course_admin_options .error:hover {
                -webkit-transition: background-color 0.4s linear;
                -moz-transition: background-color 0.4s linear;
                -o-transition: background-color 0.4s linear;
                transition: background-color 0.4s linear;
                background-color: #E3C3C3;
            }
            

    #kent_course_list_overview .rollover_complete{
        background: #FFF;
    }

    #kent_course_list_overview .rollover_processing{
        background: #AAA;
    }

    #kent_course_list_overview .restoreerror,
    #kent_course_list_overview .backuperror{
        background: #777;
    }

    #kent_course_list_overview li span{
        display: block;
    }

.archive_link {
    padding: 10px 10px 20px 10px;
}

    .archive_link a, .archive_link a:visited {
        width: 200px;
        padding: 10px;
        background: #EEE;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: background-color .2s linear;
        -moz-transition: background-color .2s linear;
        -o-transition: background-color .2s linear;
        transition: background-color .2s linear;
    }
    
    #page-content .archive_link a:hover {
        background: #E6E6E6;
        text-decoration: none;
    }


