.block_kent_course_overview.block div.content {
    padding: 0px;
}

.block_kent_course_overview.block div.content .rollover_admin_notification {
    border:none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 10px;
    color: #333;
    background: #fafafa;
}

    .block_kent_course_overview.block div.content .rollover_admin_notification p {
        margin-bottom: 0;
    }
    
    .block_kent_course_overview.block div.content .rollover_admin_notification a {
        display: block;
        margin-top:10px;
        color: #264F9C;
    }

.block_kent_course_overview.block div.content .co_no_crs {
    border-top: 1px solid #e3e3e3;
    padding: 30px 10px 20px 10px;
    font-size: 14px;
    color: #333;
}

.block_kent_course_overview .paging{
    padding: 10px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #fff;
    background: #f6f6f6;
}

#kent_course_list_overview{
    background: #EFEFEF;
    list-style: none;
    list-style-type: none;
    margin: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 0;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #fff;
}

    #kent_course_list_overview li {
        background: #fff;
        width: 100%;
        margin: 0;
        display: block;
        clear: both;
        border: 1px solid #E3E3E3;
        margin-bottom: 10px;
        position: relative;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    }

        #kent_course_list_overview li .course_adjust_visibility {
            position: absolute;
            right: -6px;
            top: 5px;
            background: #dcdcdc;
            width: 30px;
            height: 23px;
            padding: 5px 0 0 9px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
            -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.05);
            -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.05);        
        }

        #kent_course_list_overview li .visibility_tri {
            border-color: transparent transparent transparent #b0b0b0;
            border-style:solid;
            border-width:5px;
            height:0;
            width:0;
            position: absolute;
            right: -11px;
            top: 27px;
        }

    #kent_course_list_overview li.course_unavailable {
        background: #fafafa;
        color: #aaa;
    }

        #kent_course_list_overview li.course_unavailable .course_details_ovrv .title {
            color: #aaa;
        }

            #kent_course_list_overview li.course_unavailable .course_details_ovrv .title a {
                color: #aaa;
            }

        #kent_course_list_overview li.course_unavailable .course_details_ovrv .course_description {
            color: #aaa;
        }

            #kent_course_list_overview li.course_unavailable .course_details_ovrv .course_description a {
                color: #aaa;
            }

        #kent_course_list_overview li.course_unavailable .course_details_ovrv .teachers_show_hide {
            color: #aaa;
        }

        #kent_course_list_overview li.course_unavailable .course_details_ovrv .teachers {
            color: #aaa;
        }

            #kent_course_list_overview li.course_unavailable .course_details_ovrv .teachers a {
                color: #aaa;
            }
    
    #kent_course_list_overview li:nth-child(even) {

    }
    
        #kent_course_list_overview .course_details_ovrv {
            /*float: left;*/
            padding: 10px;
        }

            #kent_course_list_overview .course_details_ovrv .course_adjust_visibility {
                float: right;
            }

        #kent_course_list_overview .course_details_ovrv.admin_width {
            float:left;
            width: 70%;
        }
    
            #kent_course_list_overview .course_details_ovrv .title {
                padding: 3px 0;
                font-size: 16px;
                font-weight: bold;
                color: #333;
            }

                #kent_course_list_overview .course_details_ovrv .title a {
                    color: #333;
                }
                
                #kent_course_list_overview .course_details_ovrv .title a:hover {
                    text-decoration: underline;
                }

            #kent_course_list_overview .course_details_ovrv .course_description {
                padding: 10px 0;
                font-size: 14px;
                color: #6f6f6f;
            }  

                #kent_course_list_overview .course_details_ovrv .course_description p {
                    margin: 0px
                }

            #kent_course_list_overview .course_details_ovrv .teachers_show_hide {
                background: url(../blocks/kent_course_overview/pix/switch_plus.png) no-repeat left center;
                font-size: 14px;
                color: #264F9C;
                padding-left: 20px;
                cursor: pointer;
                display: inline;
            }

            #kent_course_list_overview .course_details_ovrv .teachers_show_hide.hide {
                background: url(../blocks/kent_course_overview/pix/switch_minus.png) no-repeat left center;
            }

            #kent_course_list_overview .course_details_ovrv .teachers_show_hide:hover {
                text-decoration: underline;
            }

            #kent_course_list_overview .course_details_ovrv .teachers {
                padding: 3px 0;
                font-size: 12px;
                color: #6f6f6f;
                display: none;
            }

                #kent_course_list_overview .course_details_ovrv .teachers span {
                    margin-left: 20px;
                    font-size: 14px;
                }

                    #kent_course_list_overview .course_details_ovrv .teachers a {
                        color: #003399;
                    }
                    
                    #kent_course_list_overview .course_details_ovrv .teachers a:hover {
                        text-decoration: underline;
                    }
            
       #kent_course_list_overview  .course_admin_options {
            padding: 50px 15px 15px 15px;
            float: right;
            display: block;
            width: 20%;
        }

        #kent_course_list_overview  .course_admin_options.admin_hide {
            display: none;
        }

            #kent_course_list_overview  .course_admin_options a:hover {
                text-decoration: none;
            }
        
            #kent_course_list_overview  .course_admin_options .course_rollover_optns {
                display: block;
                padding: 10px;
                background: #E0E0E0;
                font-size: 13px;
                text-align: center;
                color: #6f6f6f;  
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
            }
            
            #kent_course_list_overview  .course_admin_options .new {
                background-color: #E9FAD0;
                -webkit-transition: background-color 0.4s linear;
                -moz-transition: background-color 0.4s linear;
                -o-transition: background-color 0.4s linear;
                transition: background-color 0.4s linear;
            } 
            
             #kent_course_list_overview  .course_admin_options .new:hover {
                background-color: #D6E6BF;
            }
            
            #kent_course_list_overview  .course_admin_options .pending {
                background-color: #BAC7DF;
                padding: 20px 0;
                color: #fff;
            }
            
            #kent_course_list_overview  .course_admin_options .error {
                background-color: #FAD7D7;
            }
            
            #kent_course_list_overview .course_admin_options .error:hover {
                -webkit-transition: background-color 0.4s linear;
                -moz-transition: background-color 0.4s linear;
                -o-transition: background-color 0.4s linear;
                transition: background-color 0.4s linear;
                background-color: #E3C3C3;
            }
            

    #kent_course_list_overview .rollover_complete{
        background: #FFF;
    }

    #kent_course_list_overview .rollover_processing{
        background: #AAA;
    }

    #kent_course_list_overview .restoreerror,
    #kent_course_list_overview .backuperror{
        background: #777;
    }

    #kent_course_list_overview li span{
        display: block;
    }

.archive_link {
    background: #fafafa;
    border-top: 1px solid #eee;
    padding: 10px 10px 10px 10px;
    -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

    .archive_link a, .archive_link a:visited {
        display: inline-block;
        padding: 2px 10px 2px;
        margin-bottom: 0;
        font-size: 13px;
        line-height: 18px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 1px 
        rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        background-color: whiteSmoke;
        background-image: -moz-linear-gradient(top, white, #E6E6E6);
        background-image: -ms-linear-gradient(top, white, #E6E6E6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
        background-image: -webkit-linear-gradient(top, white, #E6E6E6);
        background-image: -o-linear-gradient(top, white, #E6E6E6);
        background-image: linear-gradient(top, white, #E6E6E6);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
        border-color: #E6E6E6 #E6E6E6 #BFBFBF;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        border: 1px solid #CCC;
        border-bottom-color: #B3B3B3;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 
        rgba(255, 255, 255, 0.2), 0 1px 2px 
        rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 
        rgba(255, 255, 255, 0.2), 0 1px 2px 
        rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
    
    #page-content .archive_link a:hover {
        background: #E6E6E6;
        text-decoration: none;
    }


