.block_kent_course_overview.block div.content {
    padding: 0px;
}

.block_kent_course_overview.block div.content .form_container {
    background: #efefef;
    border-bottom: 1px solid #fff;
    height: 30px;
    padding: 5px 5px 0 5px;
}

.block_kent_course_overview.block div.content .form_container .left {
    float: left;
    width: 90%;
}

.block_kent_course_overview.block div.content .form_container .right {
    float: left;
    width: 10%;
}

    .block_kent_course_overview.block div.content .form_container #coursesearchbox{
        width: 100%;
        height: 24px;
        box-sizing: border-box;
        padding: 4px;
        border-color: #dcdcdc;
        margin: 0;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    }

    .block_kent_course_overview.block div.content .form_container #coursesearchbox:focus{
       border-color: #90A6C8; 
    }
    .block_kent_course_overview.block div.content .form_container .courseoverview_search_sub {
        width: 100%;
        height: 24px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
        padding: 0;
        margin: 0;
        font-size: 13px;
        color: #333333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        background-color: #f5f5f5;
        background-image: linear-gradient(top, #ffffff, #e6e6e6);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
        border: 1px solid #cccccc;
        border-color: #e6e6e6 #e6e6e6 #bfbfbf;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border-left: 0px;
        border-color: #dcdcdc;
        border-radius: 4px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        vertical-align: inherit;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    }

     .block_kent_course_overview.block div.content .form_container .courseoverview_search_sub:hover {
        color: #333333;
        text-decoration: none;
        background-color: #e6e6e6;
        background-position: 0 -15px;
        transition: background-position 0.1s linear;
     }

.mymobilecontent .block_kent_course_overview.block div.content .form_container {
    background: transparent;
    margin-bottom: 6px;
}

    .mymobilecontent .block_kent_course_overview.block div.content .form_container #coursesearchbox {
        -moz-border-radius: 0.6em 0 0 0.6em;
        -webkit-border-radius: 0.6em 0 0 0.6em;
        border-radius: 0.6em 0 0 0.6em;
        margin: 0px;
        padding: 0px;
        width: 78%;
        height: 27px;
        float: left;
        text-indent: 8px;
    }

    .mymobilecontent .block_kent_course_overview.block div.content .form_container .ui-btn {
        margin: 0px;
        width: 20%;
        height: 27px;
        float: left;
        border-left: 0px;
        border-radius: 0 0.6em 0.6em 0;
        box-shadow: 0px 0px 0px /*{global-box-shadow-size}*/ rgba(0, 0, 0, .3) /*{global-box-shadow-color}*/;
    }

        .mymobilecontent .block_kent_course_overview.block div.content .form_container .ui-btn .ui-btn-inner {
            padding: 3px 0 0 0;
        }

            .mymobilecontent .block_kent_course_overview.block div.content .form_container .ui-btn .courseoverview_search_sub {
                width: 100%;
            } 

.block_kent_course_overview.block div.content .rollover_admin_notification {
    border:none;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #fff;
    padding: 10px;
    color: #333;
    background: #fafafa;
}

    .block_kent_course_overview.block div.content .rollover_admin_notification p {
        margin-bottom: 0;
    }
    
    .block_kent_course_overview.block div.content .rollover_admin_notification a {
        display: block;
        margin-top:10px;
        color: #264F9C;
    }

.block_kent_course_overview.block div.content .co_no_crs {
    border-top: 1px solid #e3e3e3;
    padding: 30px 10px 20px 10px;
    font-size: 14px;
    color: #333;
}

.block_kent_course_overview .paging{
    padding: 10px;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #fff;
    background: #f6f6f6;
}

#kent_course_list_overview, #kent_category_list_overview {
    background: #EFEFEF;
    list-style: none;
    list-style-type: none;
    margin: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 0;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #fff;
}

    #kent_course_list_overview li, #kent_category_list_overview li {
        background: #fff;
        width: 100%;
        margin: 0;
        display: block;
        clear: both;
        border: 1px solid #E3E3E3;
        margin-bottom: 10px;
        position: relative;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    }

        #kent_course_list_overview li .course_adjust_visibility {
            position: absolute;
            right: -6px;
            top: 5px;
            background: #dcdcdc;
            width: 30px;
            height: 23px;
            padding: 0 0 0 3  px;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);     
        }

        #kent_course_list_overview li .course_adjust_visibility i {
            cursor: pointer;
            margin-left: 8px;
        }

        #kent_course_list_overview li .visibility_tri {
            border-color: transparent transparent transparent #b0b0b0;
            border-style:solid;
            border-width:5px;
            height:0;
            width:0;
            position: absolute;
            right: -11px;
            top: 23px;
        }

    #kent_course_list_overview li.course_unavailable {
        background: #fafafa;
        color: #aaa;
    }

        #kent_course_list_overview li.course_unavailable .course_details_ovrv .title {
            color: #aaa;
        }

            #kent_course_list_overview li.course_unavailable .course_details_ovrv .title a {
                color: #aaa;
            }

        #kent_course_list_overview li.course_unavailable .course_details_ovrv .course_description {
            color: #aaa;
        }

            #kent_course_list_overview li.course_unavailable .course_details_ovrv .course_description a {
                color: #aaa;
            }

        #kent_course_list_overview li.course_unavailable .course_details_ovrv .teachers_show_hide {
            color: #aaa;
        }

        #kent_course_list_overview li.course_unavailable .course_details_ovrv .teachers {
            color: #aaa;
        }

            #kent_course_list_overview li.course_unavailable .course_details_ovrv .teachers a {
                color: #aaa;
            }
    
    #kent_course_list_overview li:nth-child(even) {

    }
    
        #kent_course_list_overview .course_details_ovrv ,
        #kent_category_list_overview .course_details_ovrv {
            /*float: left;*/
            padding: 10px;
        }

        #kent_course_list_overview .course_details_ovrv.admin_width {
            float:left;
            width: 70%;
        }
    
            #kent_course_list_overview .course_details_ovrv .title, 
            #kent_category_list_overview .course_details_ovrv .title {
                padding: 3px 0;
                font-size: 16px;
                font-weight: bold;
                color: #333;
            }

                #kent_course_list_overview .course_details_ovrv .title a,  
                #kent_category_list_overview .course_details_ovrv .title a {
                    color: #333;
                }
                
                #kent_course_list_overview .course_details_ovrv .title a:hover ,
                #kent_category_list_overview .course_details_ovrv .title a:hover {
                    text-decoration: underline;
                }

            #kent_course_list_overview .course_details_ovrv .course_description {
                padding: 10px 0;
                font-size: 14px;
                color: #6f6f6f;
            }  

                #kent_course_list_overview .course_details_ovrv .course_description p {
                    margin: 0px
                }

            #kent_course_list_overview .course_details_ovrv .teachers_show_hide {
                background: url([[pix:block_kent_course_overview|switch_plus]]) no-repeat left center;
                font-size: 14px;
                color: #264F9C;
                padding-left: 20px;
                cursor: pointer;
                display: inline;
            }

            #kent_course_list_overview .course_details_ovrv .teachers_show_hide.hide {
                background: url([[pix:block_kent_course_overview|switch_minus]]) no-repeat left center;
            }

            #kent_course_list_overview .course_details_ovrv .teachers_show_hide:hover {
                text-decoration: underline;
            }

            #kent_course_list_overview .course_details_ovrv .teachers {
                padding: 3px 0;
                font-size: 12px;
                color: #6f6f6f;
                display: none;
            }

                #kent_course_list_overview .course_details_ovrv .teachers span {
                    margin-left: 20px;
                    font-size: 14px;
                }

                    #kent_course_list_overview .course_details_ovrv .teachers a {
                        color: #003399;
                    }
                    
                    #kent_course_list_overview .course_details_ovrv .teachers a:hover {
                        text-decoration: underline;
                    }
            
       #kent_course_list_overview  .course_admin_options {
            padding: 50px 15px 15px 15px;
            float: right;
            display: block;
            width: 20%;
        }

        #kent_course_list_overview  .course_admin_options.admin_hide {
            display: none;
        }

            #kent_course_list_overview  .course_admin_options a:hover {
                text-decoration: none;
            }
        
            #kent_course_list_overview  .course_admin_options .course_rollover_optns,
            #kent_course_list_overview  .course_admin_options .course_clear_optns {
                display: block;
                padding: 10px;
                background: #E0E0E0;
                font-size: 13px;
                text-align: center;
                color: #6f6f6f;
                border-radius: 5px;
            }
            
            #kent_course_list_overview  .course_admin_options .new {
                background-color: #E9FAD0;
                transition: background-color 0.4s linear;
            } 
            
             #kent_course_list_overview  .course_admin_options .new:hover {
                background-color: #D6E6BF;
            }
            
            #kent_course_list_overview  .course_admin_options .pending {
                background-color: #BAC7DF;
                padding: 20px 0;
                color: #fff;
            }
            
            #kent_course_list_overview  .course_admin_options .error {
                background-color: #FAD7D7;
            }
            
            #kent_course_list_overview .course_admin_options .error:hover {
                transition: background-color 0.4s linear;
                background-color: #E3C3C3;
            }
            

    #kent_course_list_overview .rollover_complete{
        background: #fff;
    }

    #kent_course_list_overview .rollover_processing{
        background: #fff;
    }

    #kent_course_list_overview .restoreerror,
    #kent_course_list_overview .backuperror{
        background: #777;
    }

    .block_kent_course_overview .enrolment_fix_link {
        background: #efefef;
        border-top: 1px solid #e3e3e3;
        text-align: right;
    }

    .block_kent_course_overview .enrolment_fix_link a {
        display: block;
        padding: 2px 5px;
    }

    #kent_course_list_overview li span,
    #kent_category_list_overview li span{
        display: block;
    }

.archive_link {
    background: #fafafa;
    border-top: 1px solid #eee;
    padding: 10px 10px 10px 10px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

    .archive_link a, .archive_link a:visited {
        display: inline-block;
        padding: 2px 10px 2px;
        margin-bottom: 0;
        font-size: 13px;
        line-height: 18px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 1px 
        rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        background-color: whiteSmoke;
        background-image: linear-gradient(top, white, #E6E6E6);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
        border-color: #E6E6E6 #E6E6E6 #BFBFBF;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:dximagetransform.microsoft.gradient(enabled=false);
        border: 1px solid #CCC;
        border-bottom-color: #B3B3B3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 
        rgba(255, 255, 255, 0.2), 0 1px 2px 
        rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 
        rgba(255, 255, 255, 0.2), 0 1px 2px 
        rgba(0, 0, 0, 0.05);
        cursor: pointer;
    }
    
    #page-content .archive_link a:hover {
        background: #E6E6E6;
        text-decoration: none;
    }


#dialog_sure,
#dialog_clear_error{
    display: none;
}

.blockui_loading{
    padding: 150px 20px 30px;
    background: url([[pix:theme|i/loading.gif]]) no-repeat center 30px;
}
